* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #191e38;
  font-size: 14px;
}

img {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input{
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
       -o-appearance: none;
          appearance: none;
  outline: none;
}

button {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
}

ul,
ol,
li,
em {
  list-style: none;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.container {
  margin: 0 auto;
  width: 1160px;
}
input::-ms-clear{display:none;}
input::-ms-reveal{display:none;}
@media screen and (min-width: 750px) {
  html {
      font-size: 100px;
  }
}
@media screen and (min-width: 400px) and (max-width: 750px){
  html {
      font-size: 50px;
  }
}
